* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  padding: 10px;
  padding-left: 0px;
  justify-content: space-between;
  background-color: rgb(122, 133, 238);
}

header h1 {
  background-color: aqua;
  padding: 5px 5px 5px 30px
}

li {
  display: inline;
}

Nav li a {
  padding: 15px;
  text-decoration: underline;
  font-weight: 700;
}

.hero {
  display: flex;
  background-image: url(/assets/images/02-hero-bg.jpg);
  background-size: 2000px;
  width: 100%;
  height: auto;
  padding: 50px;
  color: white;
  justify-content: flex-end;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 200px 650px 400px 400px 1fr;
  margin-right: 30px;
  gap: 20px;
  justify-content: stretch;   
  grid-template-areas:

    "About_header About_text About_text"
    "Work_header Work_1 Work_1"
    "Work_header  Work_2 Work_3"
    "Work_header Work_4 Work_5"
    "Contact_header Contact_list Contact_list"
}

#About_header {

  grid-area: About_header;
  justify-self: flex-end;
  padding-right: 30px;
  font-size: 5vh;
  text-align: right;
  border-right: solid black 5px;
  margin-top: 20px;
}

#About_text {
  grid-area: About_text;
  padding: 30px;
}

#Work_header {
  grid-area: Work_header;
  justify-self: flex-end;
  padding-right: 30px;
  font-size: 5vh;
  text-align: right;
  border-right: solid black 5px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#Work_1 {
grid-area: Work_1;
border: solid 10px;


}

#Work_1 img {
width: 100%;
height: 100%;
}

#Work_2 {
grid-area: Work_2;
border: solid 10px;

}

#Work_2 img {
width: 100%;
height: 100%;

}

#Work_3 {
  grid-area: Work_3;
  border: solid 10px;
}

#Work_3 img {
width: 100%;
 height: 100%;
}

#Work_4 {
  grid-area: Work_4;
  border: solid 10px;
}

#Work_4 img {
  width: 100%;
   height: 100%;
}

#Work_5 {
  grid-area: Work_5;
  border: solid 10px;
}

#Work_5 img {
  width: 100%;
   height: 100%;
}

#Contact_header {
  grid-area: Contact_header;
  justify-self: flex-end;
  padding-right: 30px;
  font-size: 5vh;
  text-align: right;
  border-right: solid black 5px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#Contact_list {
  grid-area: Contact_list;

  background-color: rgb(204, 98, 68);

}